<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXgUjRbxqGiMfNOXUTktf_Ur_OB7nRpEM</string>
	<key>GCM_SENDER_ID</key>
	<string>856367495905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.DomoLabo</string>
	<key>PROJECT_ID</key>
	<string>domolabo-9657f</string>
	<key>STORAGE_BUCKET</key>
	<string>domolabo-9657f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856367495905:ios:03c1904e86312d032095a0</string>
</dict>
</plist>